<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="page">
    <div class="todo">
        <h1 class="todo__title">Мой Todo List</h1>

        <form class="todo-form" method="POST" action="/add">
            <input class="todo-form__input" type="text" name="task" placeholder="Новая задача" required>
            <button class="todo-form__button" type="submit">Добавить</button>
        </form>

        <ul class="todo-list">
            {% for task in tasks %}
            <li class="todo-list__item">
                <span class="todo-list__text">{{ task }}</span>
                <a href="/delete/{{ loop.index0 }}" class="todo-list__delete">❌</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>